# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
venv
.venv
env
.env
*.egg-info
dist
build

# IDE
.idea
.vscode
*.swp
*.swo

# Testing
.pytest_cache
.coverage
htmlcov
.tox

# Misc
.DS_Store
*.log
*.pot
*.pyc
